@import "src/styles/variables";
@import "src/styles/mixins";

.wrapper {
  .link {
    font-weight: bold;
    color: $color-primary;
    text-decoration: none;
    &:hover {
      color: $color-accent-secondary;
    }
  }
}
