.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
}

.active-menu {
  overflow: hidden;
}

.link {
  font-size: 20px;
  color: $color-tertiary;
  padding: 15px 0;

  &-active {
    color: $color-accent-secondary;
  }
}

.nav {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  height: 710px;
  width: 100%;
}

.nav-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: $color-primary;
  z-index: 1;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include default-section-padding;
}

.nav-button {
  margin-top: 40px;
}

.button {
  position: relative;
  height: 18px;
  width: 25px;
  padding: 0;
  line-height: 1;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 1;

  &-active {
    .button-item {
      background-color: $color-tertiary;

      &-top {
        transform: translateY(10px) translateX(0) rotate(45deg);
      }

      &-middle {
        opacity: 0;
      }

      &-bottom {
        transform: translateY(-8px) translateX(0) rotate(45deg * -1);
      }
    }
  }
}

.button-item {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: $color-primary;
  border-radius: 3px;
  transition: transform $transition-time-long, opacity $transition-time-long;

  &-top {
    top: 0;
  }

  &-middle {
    top: 50%;
    width: 18px;
  }

  &-bottom {
    top: 100%;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 1000px;
  width: 100%;
  background-color: $color-primary;
  z-index: -1;
}
