$code-block-font-size: $font-size-base;
$code-block-line-height: 130%;

.code {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  @include no-scrollbars;

  * {
    &::selection {
      background-color: $color-accent-primary;
    }
  }
}

.code-container {
  .code-toolbar {
    width: 100%;
  }

  :global {
    pre {
      margin: 0;
      overflow: auto;
      word-wrap: normal;
      white-space: pre;
    }

    code {
      flex-grow: 1;
      display: block;
      font-family: $font-family-secondary;
      color: $color-tertiary;
      padding: 20px 20px 14px 10px;
      font-size: $code-block-font-size;
      line-height: $code-block-line-height;
    }

    .token {
      line-height: $code-block-line-height;

      &.boolean,
      &.string {
        color: $color-accent-secondary;
      }

      &.builtin {
        color: $color-accent-secondary;
      }

      &.punctuation {
        color: $color-tertiary;
      }

      &.keyword {
        color: #f5a087;
      }

      &.class-name,
      &.function {
        color: #ff65b3;
      }

      &.comment,
      &.prolog,
      &.doctype,
      &.cdata {
        color: rgba($color-tertiary, 0.5);
      }
    }

    .line-numbers-rows {
      font-family: $font-family-secondary;
      padding: 20px 8px 14px 20px;
      border-right: none !important;
      background-color: rgba($color-tertiary, 0.05);
      border-radius: 5px 0 0 5px;
      display: block;
      font-size: $code-block-font-size;

      span {
        line-height: $code-block-line-height;

        &::before {
          color: rgba($color-tertiary, 0.25);
        }
      }
    }

    .language-yaml {
      color: $color-accent-secondary;

      .token {
        &.key,
        &.punctuation {
          color: $color-tertiary;
        }
      }
    }
  }
}

// to override existing padding settings in case of no line numbers required
.no-line-numbers {
  :global {
    .line-numbers-rows {
      display: none;
    }

    pre {
      padding-left: 0 !important;
    }
  }
}
