.wrapper {
  position: relative;
  z-index: 1;
  will-change: transform;
  border-bottom: 1px solid $color-additional-1;
  height: $header-height;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-menu {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: flex-end;
  will-change: transform;
}

.link {
  position: relative;
  //padding: 20px 0;
  color: $color-tertiary;
  margin-right: 15px;
  transition: color $transition-base;

  &-active {
    color: $color-accent-secondary;
  }

  &:after {
    bottom: 22px;
  }

  &:nth-child(4) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-accent-secondary;

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  img {
    height: $header-icon-height;
    width: auto;
    display: block;
  }
}

.menu-border {
  display: flex;
  height: 30px;
  width: 2px;
  background: $color-tertiary;
  opacity: 0.25;
  margin: 0 30px;
}

.button {
  will-change: transform;
  font-size: $font-size-xs;
  padding: 13px 30px;
  @include lg-down {
    padding: 13px 20px;
  }
}

.container {
  height: 100%;
}
