//@import "../../../styles/variables";

.header-logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: $gap;
}

.header-logo-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  height: 40px;

  img {
    height: 100%;
  }
}
