.wrapper {
  position: relative;
  display: flex;
  align-items: center;

  > form {
    flex: 1 0 230px;
    height: 100%;
  }
}

.search-input {
  outline: none;
  padding: 14px 15px 14px 45px;
  line-height: 1;
  background: $color-tertiary;
  border: 2px solid $color-additional-1;
  width: 100%;
  transition: border-color $transition-base;

  &::placeholder {
    color: $color-secondary;
  }

  &:hover {
    border-color: $color-additional-4;
  }

  &:focus {
    border-color: $color-accent-primary;
  }
}

.icon {
  position: absolute;
  left: 15px;
}

.clear-button {
  position: absolute;
  right: 13px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  opacity: 1;
  transition: all 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

  &.inactive {
    opacity: 0;
    cursor: text;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    background-color: $color-secondary;
    content: '';
    height: 100%;
    width: 1px;
    transition: all 0.3s;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before,
    &:after {
      background-color: $color-additional-3;
    }
  }
}

.root {
  position: relative;
  display: grid;
  grid-gap: 1em;
}

.focuses {
  background: $color-tertiary;
  color: $color-accent-primary;
  cursor: text;
  width: 5em;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hits-wrapper {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  max-height: 75vh;
  width: 580px;
  box-shadow: 0px 10px 50px rgba(27, 4, 73, 0.1),
  0px 5px 10px rgba(27, 4, 73, 0.05);
  background: $color-tertiary;
  overflow: scroll;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  @include sm-down {
    width: 100%;
  }

  &_show {
    display: grid;
  }

  mark {
    color: $color-secondary;
    border-bottom: 1px solid $color-accent-primary;
    background-color: transparent;
  }

  .hit-entry + .hit-entry,
  .footer-search,
  header {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: linear-gradient(
                      270.35deg,
                      $color-additional-1 0%,
                      rgba(238, 236, 249, 0) 100%
      );
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    &::before {
      top: auto;
      bottom: 0;
    }
  }
}

.index-heading {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;

  &-keyword {
    font-weight: 500;
  }
}

.stats {
  font-size: $font-size-xs;
  font-weight: 500;
}

.hit-entry {
  text-decoration: none;
  padding: 10px 15px;
  transition: background $transition-base;

  &:hover {
    background: linear-gradient(
                    90deg,
                    $color-additional-2 0%,
                    $color-tertiary 100%
    );
  }
}

.hit-heading {
  color: $color-primary;
  font-weight: 500;
  outline: none;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    &::after {
      background: $color-accent-primary;
    }
  }

  mark {
    color: $color-accent-primary;
    border: none;
  }
}

.excerpt {
  display: block;
  color: $color-secondary;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.footer-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  line-height: 1;

  button,
  .search-by {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  a {
    display: flex;
    align-items: center;
  }

  svg {
    margin-left: 5px;
  }

  .search-by {
    display: flex;
    align-items: center;
  }
}

.no-results {
  &::before {
    display: none;
  }
}

.toggle-results-btn {
  font-size: $font-size-base;
  font-weight: 500;
  outline: none;
  appearance: none;
  border: none;
  padding: 0 0 1px 0;
  position: relative;
  background: none;
  cursor: pointer;
  color: $color-accent-secondary;

  &_open {
    svg {
      transform: rotate(180deg);
    }
  }
}
