@import "src/styles/variables";
@import "src/styles/mixins";

.count {
  background: $color-primary;
  color: $color-tertiary;
  padding: 4px 10px;
  display: block;
  font-size: 10px;
  line-height: 10px;
  border-radius: 5px;
  font-weight: bold;
}
