.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner {
  flex: 1;
  @include default-section-padding;
}

.right-wrapper {
  padding: 0 0 0 65px;
  @include lg-down {
    padding: 0 0 0;
  }
  @include sm-down {
    padding-top: 0;
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  max-width: calc(100% - 334px);
  padding: $padding__section--desktop 0;
  @include sm-down {
    max-width: 100%;
  }
}
