.wrapper {
  background-color: $color-primary;
  border-radius: 5px;
  margin: 30px 0;

  :global(.hljs) {
    margin: 0;
    color: $color-tertiary;
  }
}

.header {
  background: $color-additional-2;
  border: 2px solid $color-additional-1;
  display: inline-flex;
  flex-wrap: nowrap;
  color: $color-additional-1;
  overflow: auto;
  width: 100%;
  margin-top: -1px;
  border-radius: 5px 5px 0 0;
  @include no-scrollbars;
}

.code-tab {
  padding: 12px 30px;
  color: rgba($color-additional-3, 0.5);
  font-weight: 600;
  cursor: pointer;
  @include xs-down {
    flex: 1;
  }
  white-space: nowrap;

  &:not(:last-child) {
    border-right: 1px solid rgba($color-additional-3, 0.05);
  }

  &:focus {
    outline: none;
  }
}

.code-tab_active {
  color: $color-additional-3;
}

.items-container {
  > div {
    display: none;
  }
}
