.wrapper {
  margin-bottom: 120px;
}

.link {
  font-size: $font-size-sm - 2;
  font-weight: normal;
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-base;
  &:hover {
    color: $color-accent-secondary;
  }
}
